input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--almost-white);
    margin: 0;
    color: var(--beige);
    width: 1.4em;
    height: 1.4em;
    border: 0.4em solid currentColor;
    border-radius: 0.65em;
    margin-top: 0.5em;
    
  transform: translateY(0.1em);
  }
  
  .checkboxTag {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  input[type="checkbox"]:hover{
    color: var(--dark-green);
    cursor: pointer;
  }
 
  input[type="checkbox"]:checked{
    color: var(--spotify-green);
    background-color: var(--spotify-green);
  }

