/* Optional styling for better visibility */
:root {
    --spotify-green: #1db954;
    --dark-green: #0e3f0d;
    --spotify-black: #191414;
    --beige: #c4c4c4;
    --almost-white: #efefef;
    --wrong-light: #e64d4d;
    --wrong-dark: #4d0d0d;
  }



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;
    justify-content: center;
    width: 100%;
    padding: 30px;
    background-color: var(--beige);
}

h1{
    font-family: 'Helvatica', sans-serif;
    font-size: 40px;
    margin-top: 20px;
    color: var(--spotify-black); /* Dark grey text color */
}

h2 {
    font-family: 'Helvatica', sans-serif;
    font-size: 24px;
    color: var(--dark-green); /* Slightly darker grey text color */
    margin-bottom: 30px;
    margin-top: 0px;
}

.outerContainer{
    padding: 10px;
    margin: 10px;
}

.innerContainer{
    transition: 0.3s;
    border-radius: 13px;
    width: 60vw;
    padding: 20px;
}

.innerContainer:hover{
    background-color: var(--almost-white);
}


#info{
    flex-direction: column;
    margin-top: 20px;
}

#parameterSubmit{
    
    flex-direction: column;
    margin-bottom: 30px;
}

#parameterSelection{
    height: 100%;
    top: 10px;
    padding: 20px, 10px;
    font-family: 'Helvatica', sans-serif;
    font-size: 16px;
    color: var(--spotify-black); 
}

.sectionTitle{
    font-family: 'Helvatica', sans-serif;
    font-size: 34px;
    color: var(--dark-green); /* Slightly darker grey text color */
    margin: 5px;
}

.textboxContainer{
    margin-bottom: 10px;
}



input[type="text"] {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    width: 100%; /* Make the text input span the entire width of the container */
    padding: 3px; /* Padding inside the text input */
    margin-top: 4px; /* Margin at the top of the text input */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.sliderTitle{
    
   /* left: 100px; /* Set the left position in pixels 
    top: 10px; /* Set the top position in pixels */
    width: 200px; /* Set the width of the slider */
}


.sliderContainer{
    margin-bottom: 20px;
    height: 150px;
}

.checkboxesContainer{
    margin-bottom: 10px;
    font-size: 20px;

}

.btn {
    background-color: var(--spotify-green); /* Green button color */
    color: var(--spotify-black);
    padding: 15px 30px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 650;
    font-stretch: semi-expanded;
    transition: background-color 0.3s;
}

.btn:hover {
    color: var(--beige);
    background-color: var(--dark-green); /* Darker green on hover */
}

.wrongInput{
    color: var(--spotify-black);
    background-color: var(--wrong-light); /* Darker green on hover */
}

.wrongInput:hover{
    color: var(--beige);
    background-color: var(--wrong-dark); /* Darker green on hover */
}

.inputToCorrect{
    background-color: var(--wrong-light);
}