/* Optional styling for better visibility */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;
    justify-content: center;
    width: 100%;
    padding: 30px;
    background-color: #c4c4c4;
}

h1{
    font-family: 'Helvatica', sans-serif;
    font-size: 40px;
    margin-top: 20px;
    color: #191414; /* Dark grey text color */
}

h2 {
    font-family: 'Helvatica', sans-serif;
    font-size: 24px;
    color: #0e3f0d; /* Slightly darker grey text color */
    margin-bottom: 30px;
    margin-top: 0px;
}

.outerContainer{
    padding: 10px;
    margin: 10px;
}

.innerContainer{
    transition: 0.3s;
    border-radius: 13px;
    width: 60vw;
    padding: 20px;
}

.innerContainer:hover{
    background-color: #efefef;
}

#info{
    flex-direction: column;
    margin-top: 20px;
}

#parameterSubmit{
    
    flex-direction: column;
    margin-bottom: 30px;
}

#parameterSelection{
    height: 100%;
    top: 10px;
    padding: 20px, 10px;
    font-family: 'Helvatica', sans-serif;
    font-size: 16px;
    color: #191414; 
}

.sectionTitle{
    font-family: 'Helvatica', sans-serif;
    font-size: 34px;
    color: #0e3f0d; /* Slightly darker grey text color */
    margin: 5px;
}

.textboxContainer{
    margin-bottom: 10px;
}

.sliderTitle{
    
   /* left: 100px; /* Set the left position in pixels 
    top: 10px; /* Set the top position in pixels */
    width: 200px; /* Set the width of the slider */
}


.sliderContainer{
    margin-bottom: 20px;
    height: 150px;
}

.checkboxesContainer{
    margin-bottom: 10px;

}

.btn {
    background-color: #1db954; /* Green button color */
    color: #191414;
    padding: 15px 30px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 650;
    font-stretch: semi-expanded;
    transition: background-color 0.3s;
}

.btn:hover {
    color: #c4c4c4;
    background-color: #0e3f0d; /* Darker green on hover */
}