
input[type="range"] {
    width:100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;   
}

input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #1db954;
    cursor: pointer;
    border-radius: 10px;
    pointer-events: auto;
    margin-top: -9px;
}

input[type="range"]::-moz-range-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #1db954;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto;
}

input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #1db954;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb{
    background-color: #c4c4c4;
    border: 5px solid #1db954;
}

/* slider parts */

.sliderValue{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    position: relative;
    height: 100%;
    width: 50%; /* Set the width of the slider */
    border: 2px solid yellow;
    font-family: 'Helvatica', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #0e3f0d;
}


.sliderTrack{
    width: 100%;
    height: 10px;
    background-color: #0e3f0d;
    margin:auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    position: absolute;

}


.wrapper{
    position: relative;
    top: 35px;
    width: 100%;
    height: 30px;
    border: 1px solid red;
}

.sliderValues{
    position: relative;
    top: 20px;
    left: -20%;
    width: 140%;
    height: 20px;
    padding: 0px;
    padding-bottom: 0;
    border: 1px solid blue;
    display: flex;
}
