/* Optional styling for better visibility */
body {
    display:contents;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#parameterSelection{
    top: 10px;
    padding: 10px;
    border: 3px solid black;
}

.textboxContainer{
    padding: 20px;
    width: 300px; /* Set the width of the container */
    height: 70px; /* Set the height of the container */
    border: 1px solid black;
}

.sliderTitle{
    
   /* left: 100px; /* Set the left position in pixels 
    top: 10px; /* Set the top position in pixels */
    width: 200px; /* Set the width of the slider */
}


.sliderContainer{
    padding: 20px;
    width: 300px; /* Set the width of the container */
    height: 250px; /* Set the height of the container */
    border: 1px solid black;
}

.checkboxesContainer{
    padding: 20px;
    width: 300px; /* Set the width of the container */
   
    border: 1px solid black;

}