<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sliders.css')}}">
     
    <script>
        var code = "{{ code }}";
    </script>

    

    <title>Discover Weirdly</title>
</head>
<body>

<section id="parameterSelection">

    <div id="nameSelection" class="textboxContainer">
        <p class="sectionTitle">Playlist Name</p>
        
        <input type="text" id="nameTb">
    </div>

    <div id="descriptionSelection" class="textboxContainer">
        <p class="sectionTitle">Playlist Description</p>
        
        <input type="text" id="descriptionTb">
    </div>

    <div id="visibilitySelection" class="checkboxesContainer">
        <p class="sectionTitle">Visibility</p>
        <label for="visibility"><input type="checkbox" id="visibility"> Public</label><br>
    </div>

    <div id="numberSelection" class="textboxContainer">
        <p class="sectionTitle">Number of Tracks</p>
        
        <input type="text" id="numberTb" oninput="validateNumberInput(this)">
    </div>

    <div id="releaseDateSelection" class="sliderContainer">
        <p class="sectionTitle">Release Date Range</p>
        <div class="sliderValues">
            <div class="sliderValue" id="selectedReleaseDateMin">1950</div>
            <div class="sliderValue" id="selectedReleaseDateMax">2000</div>    
        </div>
        <div class="wrapper">
            <div class="sliderTrack"></div>
            <input type="range" id="labelReleaseDateMin" name="labelReleaseDateMin" min="1700" max="2023" value="1950" step="5" onchange="updateValue('selectedReleaseDateMin', this.value)">
            <input type="range" id="labelReleaseDateMax" name="labelReleaseDateMax" min="1700" max="2023" value="2000" step="5" onchange="updateValue('selectedReleaseDateMax', this.value)">
        </div>
        
    </div>
  
    <div id="genreSection" class="checkboxesContainer">
        <p class="sectionTitle">Genres to Include</p>
        <form>
            <label for="a capella"><input type="checkbox" id="a capella"> A Capella</label><br>
            <label for="alternative"><input type="checkbox" id="alternative"> Alternative</label><br>
            <label for="broadway"><input type="checkbox" id="broadway"> Broadway</label><br>
            <label for="classical"><input type="checkbox" id="classical"> Classical</label><br>
            <label for="country"><input type="checkbox" id="country"> Country</label><br>
            <label for="electronic"><input type="checkbox" id="electronic"> Electronic</label><br>
            <label for="folk"><input type="checkbox" id="folk"> Folk</label><br>
            <label for="gospel"><input type="checkbox" id="gospel"> Gospel</label><br>
            <label for="hip-hop"><input type="checkbox" id="hip-hop"> Hip-Hop</label><br>
            <label for="j-pop"><input type="checkbox" id="j-pop"> J-Pop</label><br>
            <label for="jazz"><input type="checkbox" id="jazz"> Jazz</label><br>
            <label for="lofi"><input type="checkbox" id="lofi"> LoFi</label><br>
            <label for="metal"><input type="checkbox" id="metal"> Metal</label><br>
            <label for="meditation"><input type="checkbox" id="meditation"> Meditation</label><br>
            <label for="opera"><input type="checkbox" id="opera"> Opera</label><br>
            <label for="phonk"><input type="checkbox" id="phonk"> Phonk</label><br>
            <label for="pop"><input type="checkbox" id="pop"> Pop</label><br>
            <label for="punk"><input type="checkbox" id="punk"> Punk</label><br>
            <label for="reggae"><input type="checkbox" id="reggae"> Reggae</label><br>
            <label for="soundtrack"><input type="checkbox" id="soundtrack"> Soundtracks</label><br>
            <label for="throat-singing"><input type="checkbox" id="throat-singing"> Throat Singing</label><br>
        </form>
        
    </div>

    <div id="popularitySection" class="sliderContainer">
        <p class="sectionTitle">Popularity</p>
        <div class="sliderValues">
            <div class="sliderValue" id="selectedReleaseDateMin">Not at all</div>
            <div class="sliderValue" id="selectedReleaseDateMax">Very</div>    
        </div>
        <div class="wrapper">
            <div class="sliderTrack"></div>
            <input type="range" id="popularityMin" name="popularityMin" min="0" max="100" value="30" step="1">
            <input type="range" id="popularityMax" name="popularityMax" min="0" max="100" value="70" step="1">
        </div>
        
    </div>

    <div id="durationSection" class="sliderContainer">
        <p class="sectionTitle">Duration</p>
        <div class="sliderValues">
            <div class="sliderValue" id="selectedDurationMin">230</div>
            <div class="sliderValue" id="selectedDurationMax">270</div> 
        </div>
        <div class="wrapper">
            <div class="sliderTrack"></div>
            <input type="range" id="durationMin" name="durationMin" min="30" max="600" value="230" step="5" onchange="updateValue('selectedDurationMin', this.value)">
            <input type="range" id="durationMax" name="durationMax" min="30" max="600" value="270" step="5" onchange="updateValue('selectedDurationMax', this.value)">
        </div>
        
    </div>

    <div id="lyricsSection" class="checkboxesContainer">
        <p class="sectionTitle">Lyrics</p>
        <form>
            <label for="no-lyrics"><input type="checkbox" id="no-lyrics"> No lyrics</label><br>
            <label for="yes-lyrics"><input type="checkbox" id="yes-lyrics"> Yes lyrics</label><br>
        </form>
        
    </div>

    <script src="{{ url_for('static', filename='scripts/playlistCreator.js')}}"></script>

   
</section>
<section>
    <div>
        <input class="btn" type="button" onclick="make()" value="Let the magic happen"></br>
    </div>
</section>

</body>
</html>