<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script>var account = " {{account}} "</script>
    <script src="{{ url_for('static', filename='scripts/playlistCreator.js')}}"></script>
    <title>Discover Weirdly</title>
</head>
<body>
    <h2>HELLO THERE! GENERAL KENOBI</h2>
    <h1>Display your Spotify profile data</h1>

<section id="profile">
<h2>Logged in as <span id="displayName"></span></h2>
<span id="avatar"></span>
<ul>
    <li>User ID: <span id="id"></span></li>
    <li>Email: <span id="email"></span></li>
    <li>Spotify URI: <a id="uri" href="#"></a></li>
    <li>Link: <a id="url" href="#"></a></li>
    <li>Profile Image: <span id="imgUrl"></span></li>
</ul>
</section>
</body>
</html>